langchain
python-dotenv
langchain-community
bs4
unstructured
unstructured[pdf]
pypdf
wikipedia
langchain-chroma
pydantic
lxml
pytesseract
unstructured_pytesseract
mistralai
pdfminer
pdfminer.six
pi_heif
unstructured_inference
pdf2image